<div class="row" style="height:150px"></div>
<div class="row">
  <div class="large-12 columns">
   <div class="large-4 large-offset-4 columns end" style="text-align: center;">
     <img src="http://orangeplanner.com/images/orange-large.png">
     <a href="/auth/google_oauth2">Sign in</a>
   </div>
  </div>
</div>