<div class="row" style="height:300px"></div>
<div class="row">
   <div class="large-3 large-offset-3" style="text-align: center;">
     <img src="http://orangeplanner.com/images/orange-large.png">
   </div>
</div>