<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name"><img src="http://orangeplanner.com/images/orange.png" ></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Budget", budget_url %></li>
      <li class="divider"></li>
      <li><%= link_to "Plan", plan_url %></li>
      <li class="divider"></li>
      <li><%= link_to "Manage", manage_url %></li>
    </ul>
  </section>
</nav>