<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name"><img src="http://orangeplanner.com/images/orange.png" ></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><a href="../calendars">Calendar</a></li>
      <li class="divider"></li>
      <li class="active"><a href="../activities">Activities</a></li>
      <li class="divider"></li>
      <li><a href="../categories">Categories</a></li>
    </ul>


  </section>
</nav>