<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><img src="../images/orange.jpg" ></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
